<%= simple_form_for ([@szaki, @szaki.reviews.build]) do |f| %>
  <div id="rating-form">
    <label>Rating</label>
  </div>
  <div>
  <%= f.input :comment %>
  </div>
  <%= f.button :submit, :class => "btn-custom2" %>
<% end%>

<script>
    $('#rating-form').raty({
        path: '/assets/',
        scoreName: 'review[rating]'
    });
</script>