<%= simple_form_for ([@szaki, @szaki.reviews.build]) do |f| %>
  <div id="rating-form">
    <label>Értékelés</label>
  </div>
  <div>
  <%= f.input :comment , label: "Komment" %>
  </div>
  <%= f.button :submit, 'Értékel', :class => "btn-custom2" %>
<% end%>

<script>
    $('#rating-form').raty({
        path: '/assets/',
        scoreName: 'review[rating]'
    });
</script>